AI GitHub Repository analyzer.json
{
  "name": "AI GitHub Repository Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-analyzer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -160
      ],
      "id": "d4fa7295-bfbd-4280-97ec-a4cd83db52b0",
      "name": "Webhook",
      "webhookId": "5536d53c-7111-4f53-a8af-44ce0c395bbe"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      prompt: $json.body.message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -160
      ],
      "id": "9933d7e3-bf0b-4c25-b510-739dabbe1d61",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/n8n-io/n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -160
      ],
      "id": "7a46a5bd-9c86-441d-994e-decb85e951db",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "495b2166-f8ae-4142-8e8f-d3e0b41d8be8",
              "name": "Repository",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "122c30fd-92a2-40f2-81c1-37d3770f75c2",
              "name": "Description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d4c3bab6-be32-48db-9fd5-accfde7847ae",
              "name": "Stars",
              "value": "={{$json.watchers}}",
              "type": "string"
            },
            {
              "id": "c8a870ee-5b14-487c-8a04-921dff8fcf79",
              "name": "Forks",
              "value": "={{$json.forks}}",
              "type": "string"
            },
            {
              "id": "7cd57eb6-b50e-4f67-9d4a-c1439ecd0723",
              "name": "Open Issues",
              "value": "={{$json.open_issues}}",
              "type": "string"
            },
            {
              "id": "537c0283-05d4-475f-aaf5-6ce38e1e2956",
              "name": "Default Branch",
              "value": "={{$json.default_branch}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -160
      ],
      "id": "86ca19ce-b2f8-4049-858e-7d01bc12cf3f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        -160
      ],
      "id": "478dfe9a-f46f-44a1-b0ef-bbdd564b23dd",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a0f6a936-38a3-4d3e-95fa-f74f4e2fee38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf4410db7b3caf6e59dc1342ea42fc75498d83f16d19172395daaf0ae4dfab88"
  },
  "nodeGroups": [],
  "id": "JJFZJ9FLSSmPdV1O",
  "tags": []
}